.page-header{
    font-family: 'Merriweather', serif;
font-family: 'Roboto Condensed', sans-serif;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
   
}

   .container {
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Condensed', sans-serif;
       background-color: transparent;
       
     

      



   }

body{
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: beige;
    background-image: url("../assets/images/kcsky.jpg");
   
    


}